<component name="ArtifactManager">
  <artifact type="war" name="Spring_Abs_Annocation_TX:war">
    <output-path>$PROJECT_DIR$/Spring_Abs_Annocation_TX/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Spring_Abs_Annocation_TX</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Web01.war">
      <element id="artifact" artifact-name="Spring_Abs_Annocation_TX:war exploded" />
    </root>
  </artifact>
</component>