<component name="ArtifactManager">
  <artifact type="war" name="SpringAOPXMLDemo:war">
    <output-path>$PROJECT_DIR$/SpringAOPXMLDemo/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringAOPXMLDemo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Web01.war">
      <element id="artifact" artifact-name="SpringAOPXMLDemo:war exploded" />
    </root>
  </artifact>
</component>