<component name="ArtifactManager">
  <artifact type="war" name="SpringAOPAnnocationDemo:war">
    <output-path>$PROJECT_DIR$/SpringAOPAnnocationDemo/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringAOPAnnocationDemo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Web01.war">
      <element id="artifact" artifact-name="SpringAOPAnnocationDemo:war exploded" />
    </root>
  </artifact>
</component>