<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringJDBCTemplate (1):war exploded">
    <output-path>$PROJECT_DIR$/SpringTX/target/Web01</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringJDBCTemplate (1)</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_XML_TX" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/Spring_XML_TX/target/Web01/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringJDBCTemplate (1)/web/Web" />
    </root>
  </artifact>
</component>