<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>404</title>
</head>
<section>
	<div
		style="width: 70%; height: 30%; margin: 0 auto; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
		<div style="position: absolute">
			<p
				style="font-size: 100px; font-weight: bold; color: rgb(250, 36, 36);">404</p>
			<p style="font-size: 40px; font-weight: bold;">
				您的页面走失了！请<a href="#" style="text-decoration: none; color: aqua;">换个方式</a>再试吧！
			</p>
		</div>
	</div>
</section>
</html>